<h1 class="mt-5"><strong>Mis Tarjetas</strong></h1>
<mat-divider></mat-divider>

<div class="grid mt-3">
  <div
    class="p-2 col-xl-3 col-md-4 col-sm-6 col-xs-12"
    *ngFor="let card of myOffers"
  >
    <app-my-card [offers]="card"></app-my-card>
  </div>
</div>

<mat-divider></mat-divider>

<div *ngIf="paymentDetails; else addPaymentMethod">
  <h2 class="mt-5">Método de Pago</h2>
  <div *ngIf="!isEditing; else editPaymentMethod">
    <div class="payment-details">
      <p><strong>Número de Tarjeta:</strong> {{ paymentDetails.cardNumber }}</p>
      <p>
        <strong>Fecha de Vencimiento:</strong>
        {{ paymentDetails.expirationDate }}
      </p>
      <p><strong>CVC:</strong> {{ paymentDetails.cvc }}</p>
    </div>
    <button mat-flat-button color="accent" (click)="enableEditing()">
      Editar Método de Pago
    </button>
  </div>
</div>

<ng-template #editPaymentMethod>
  <h2 class="mt-5">Editar método</h2>
  <form [formGroup]="paymentForm" (ngSubmit)="onUpdatePaymentMethod()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Número de tarjeta</mat-label>
      <input
        matInput
        type="text"
        formControlName="cardNumber"
        placeholder="Ingrese el número de la tarjeta"
        maxlength="16"
      />
      <mat-error *ngIf="paymentForm.get('cardNumber')?.hasError('required')">
        El número de tarjeta es obligatorio.
      </mat-error>
      <mat-error
        *ngIf="paymentForm.get('cardNumber')?.hasError('invalidCardNumber')"
      >
        Número de tarjeta inválido.
      </mat-error>
    </mat-form-field>

    <div class="form-row">
      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Fecha de vencimiento (YYYY/MM)</mat-label>
        <input
          matInput
          type="text"
          formControlName="expirationDate"
          placeholder="YYYY/MM"
          maxlength="7"
        />
        <mat-error
          *ngIf="paymentForm.get('expirationDate')?.hasError('required')"
        >
          La fecha de vencimiento es obligatoria.
        </mat-error>
        <mat-error
          *ngIf="
            paymentForm.get('expirationDate')?.hasError('invalidExpirationDate')
          "
        >
          Formato de fecha inválido. Usa YYYY/MM.
        </mat-error>
        <mat-error
          *ngIf="paymentForm.get('expirationDate')?.hasError('expiredCard')"
        >
          La tarjeta está vencida.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="half-width">
        <mat-label>CVC</mat-label>
        <input
          matInput
          type="password"
          formControlName="cvc"
          placeholder="CVC"
          maxlength="4"
        />
        <mat-error *ngIf="paymentForm.get('cvc')?.hasError('required')">
          El CVC es obligatorio.
        </mat-error>
        <mat-error *ngIf="paymentForm.get('cvc')?.hasError('pattern')">
          El CVC debe tener 3 o 4 dígitos.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="action-buttons">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="paymentForm.invalid"
        class="mr-5"
      >
        Guardar Cambios
      </button>
      <button mat-flat-button color="warn" (click)="cancelEditing()">
        Cancelar
      </button>
    </div>
  </form>
</ng-template>

<ng-template #addPaymentMethod>
  <h2 class="mt-5">Agregar Método de Pago</h2>
  <div class="payment-method-container">
    <form [formGroup]="paymentForm" (ngSubmit)="onSubmitPaymentMethod()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Número de tarjeta</mat-label>
        <input
          matInput
          type="text"
          formControlName="cardNumber"
          placeholder="Ingrese el número de la tarjeta"
          maxlength="16"
        />
        <mat-error *ngIf="paymentForm.get('cardNumber')?.hasError('required')">
          El número de tarjeta es obligatorio.
        </mat-error>
        <mat-error *ngIf="paymentForm.get('cardNumber')?.hasError('pattern')">
          Número de tarjeta inválido.
        </mat-error>
      </mat-form-field>

      <div class="form-row">
        <mat-form-field appearance="fill" class="half-width">
          <mat-label>Fecha de vencimiento (YYYY/MM)</mat-label>
          <input
            matInput
            type="text"
            formControlName="expirationDate"
            placeholder="YYYY/MM"
            maxlength="7"
          />
          <mat-error
            *ngIf="paymentForm.get('expirationDate')?.hasError('required')"
          >
            La fecha de vencimiento es obligatoria.
          </mat-error>
          <mat-error
            *ngIf="
              paymentForm
                .get('expirationDate')
                ?.hasError('invalidExpirationDate')
            "
          >
            Formato de fecha inválido. Usa YYYY/MM.
          </mat-error>
          <mat-error
            *ngIf="paymentForm.get('expirationDate')?.hasError('expiredCard')"
          >
            La tarjeta está vencida.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="half-width">
          <mat-label>CVC</mat-label>
          <input
            matInput
            type="password"
            formControlName="cvc"
            placeholder="CVC"
            maxlength="4"
          />
          <mat-error *ngIf="paymentForm.get('cvc')?.hasError('required')">
            El CVC es obligatorio.
          </mat-error>
          <mat-error *ngIf="paymentForm.get('cvc')?.hasError('pattern')">
            El CVC debe tener 3 o 4 dígitos.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="action-buttons">
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="paymentForm.invalid"
        >
          Guardar Método de Pago
        </button>
      </div>
    </form>
  </div>
</ng-template>
