<h1 class="mt-5">
  <strong>
    Editar
  </strong>
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">
  <!-- Bloque del formulario -->
  <div class="mt-3 col-12 col-sm-6">
    <mat-card *ngIf="offer">
      <mat-card-header>
        <mat-card-title class="p-2">
          {{ offer.card.name }}
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="text-center">
        <img mat-card-image [src]="imagenRuta" [alt]="offer.card.name" class="p-2">
        <h3><strong>Descripci&oacute;n:</strong> {{offer.description}} </h3>

        <mat-divider class="p-2"></mat-divider>
        <form class="grid" [formGroup]="cardForm" (ngSubmit)="onSubmit()">

          <mat-form-field class="col-6">
            <mat-label>Condici&oacute;n</mat-label>
            <mat-select required formControlName="condition">
              <mat-option value="Excelente">Excelente</mat-option>
              <mat-option value="Usado">Usado</mat-option>
              <mat-option value="Nuevo">Nuevo</mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field class="col-6">
            <mat-label>Precio</mat-label>
            <input matInput type="number" required formControlName="price">
            <mat-error *ngIf="cardForm.controls['price'].hasError('min')">
              No se pueden ingresar valores negativos.
            </mat-error>
            <mat-error *ngIf="cardForm.controls['price'].hasError('max')">
              Límite de precio execido.
            </mat-error>
            <mat-error *ngIf="cardForm.controls['price'].hasError('required')">
              El precio es obligatorio.
            </mat-error>
          </mat-form-field>
        </form>

        <mat-card-actions>
            <button mat-raised-button color="warn" *ngIf="currentCard.price" (click)="onDeleteHero()">
              <mat-icon>delete</mat-icon>
              Borrar
            </button>

            <span class="spacer"></span>

            <button mat-raised-button color="primary" (click)="onSubmit()">
              <mat-icon>save</mat-icon>
              Guardar
            </button>
          </mat-card-actions>

      </mat-card-content>
    </mat-card>
  </div>
</div>
